${require('templates/partials/header.html') }
<section id="event-page">
  <div id="content" class="intern-page-content">
    <header class="intern-page__header">
      <h1 class="header__title">
        O Evento
      </h1>
    </header>
    <div class="page-title">
      <h1>NATAL</h1>
      <h2>A CIDADE DO SOL</h2>
    </div>
  </div>
</section>
<section id="about-natal">
  <div id="content" class="intern-page-content">
    <p>
      Natal é mundialmente conhecida e exerce significativa influência nacional e até internacional, seja do ponto de vista cultural, econômico ou político. Conhecida como “A Cidade do Sol”, é repleta de lugares paradisíacos, blablabla. Exerce significativa influência nacional e até internacional, seja do ponto de vista cultural, econômico ou político. Conhecida como “A Cidade do Sol”, é repleta de lugares paradisíacos, blablabla.
    </p>
  </div>
</section>
${require('templates/partials/footer.html') }
