#event-page {
  background-image: url('../img/bgevento.jpg');
  background-repeat: no-repeat;
  background-cover: size;
  background-color: $dark-blue;
  background-blend-mode: soft-light;
  min-height: 80vh;
}
